* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container Style */
body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Card style */
.card {
  background-color: white;
  max-width: 20rem;
  margin: 0 auto;
  padding: 0.93rem;
  border-radius: 1.56rem;
}

.card__image {
  width: 100%;
  border-radius: 0.93rem;
}

.card__content {
  font-size: 0.9375rem;
  margin: 1.25rem 0.5rem 2.1875rem 0.5rem;
  text-align: center;
}

.card__content-title {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-bottom: 1.25rem;
}

.card__content-text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

/* CHALLANGE LINK */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-top: 1.875rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
